---
import "../styles/global.scss";
import FrontPageHeader from "../components/FrontPageHeader.astro";
import { Image } from "astro:assets";
import { imageMetadata } from 'astro/assets/utils';
// import Swiper and modules styles
import "swiper/scss";
import "swiper/scss/pagination";
import "swiper/scss/autoplay";
import "swiper/scss/effect-fade";
import "../styles/my-swiper-styles.scss";
// import FPImage from "./FPImage.astro";
import Footer from "../components/Footer.astro";
interface Props {
  src: ImageMetadata;
  alt: string;
}
// Use import.meta.glob to get all images from the photo directory
const images: { [key: string]: { default: ImageMetadata } } = import.meta.glob(
  "../images/front-page/*.{jpeg,jpg,png,gif,webp}",
  { eager: true }
);
// Create an array of image information
const imageList = Object.entries(images).map(([path, image]) => {
  // Extract filename from path to use as default title
  const fileName = path.split("/").pop()?.split(".")[0] || "";
  const title = fileName
    .split("-")
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");

  return {
    path,
    alt: title,
    src: image.default,
  };
});

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image" href="/cropped-shearing-icon-1.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y2E3V971GN"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-Y2E3V971GN");
    </script>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <FrontPageHeader />
    <div class="swiper">
      <div class="swiper-wrapper">
          {
            imageList.map((image, index) => (
                          <div class="swiper-slide">
              <Image src={image.src} alt={image.alt} loading="lazy" />
          </div>
          ))
        }
      </div>
            <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <div class="container">
      <h1 style="text-align: center;">{pageTitle}</h1>
      <slot />
    </div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
    <script>
      // core version + navigation, pagination modules:
      import Swiper from "swiper";
      import { Autoplay, Pagination, EffectFade } from "swiper/modules";

      // init Swiper:
      const swiper = new Swiper(".swiper", {
        // configure Swiper to use modules
        modules: [Autoplay, Pagination, EffectFade],

        // Optional parameters
        // direction: "horizontal",
        // fadeEffect: { crossFade: true },
        loop: true,
        slidesPerView: 1,
        spaceBetween: 10,
        centeredSlides: true,
        speed: 1000,
        effect: "fade",
        autoplay: {
          delay: 3500,
          disableOnInteraction: false,
        },

        // If we need pagination
        pagination: {
          el: ".swiper-pagination",
          type: "bullets",
        },
      });
    </script>
  </body>
</html>
<style lang="scss">
 .swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(69, 47, 47, 0));
  }

  .container {
    margin-top: 450px;
  }
</style>
